body {
    background: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.video {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
}

.content-wrapper {
    position: relative;
    text-align: center;
    z-index: 1;
}

.timer-wrapper {
    font-size: 4rem;
    position: relative;
    text-align: center;
}

.pre-instructions {
    font-size: 4rem;
}

.instructions {
    font-size: 6rem;
}

.correct-count {
    font-size: 4rem;
}

.dead {
    font-size: 8rem;
}