.countdown {
    position: fixed;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    font-size: 6em;
    color: #fff;
    font-family: 'VCR OSD Mono';
    text-align: right;
}